body{
	background-color: lightgrey;
}
footer{background-color: black; color: white; display: inline-block; font-size: 20px;}
h1{
	color: blue;
	font-family: hypertop;
	border: solid;
	display: inline-block;
	margin: 200px;
	padding: 10px 10px;
	background-color: tomato;
}
h3,h2{
	border: solid;
	display: inline-block;
	padding: 30px;
	margin: 40px;
	color: red;
	font-family: cooper black;
	font-size: 30px;
}
p{
	font-family: comic sans ms;
	font-size: 30px;
	color: green;
}
li{
	font-family: forte;
	font-size: 30px;
	color: darkgreen;
}
#second{
	font-size: 15px;
	color: white;
	background-color: black;
}